* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

body.loaded {
  opacity: 1;
}

#root {
  min-height: 100vh;
}
